*{
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
}
#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar{
	background-image:linear-gradient(to right,#a517ba,#5f1782);
	padding: 0 !important;
}
.navbar-brand img{
	height: 40px;
	padding-left: 20px;
}
.navbar-nav li{
	padding: 0 10px;
}
.navbar-nav li a{
	color: #fff !important;
	font-weight: 500;
	float: left;
}
.navbar-toggler-icon{
	color: #fff;
	font-size: 30px !important;
}
.navbar-toggler{
	outline: none !important;
}
.nav-item a:hover{
	font-weight: 800;
}

/*================================================*/
#banner{
	background-image: linear-gradient(to right,#a517ba,#5f1782);
	color: #fff;
	padding-top: 5%;
}
.promo-title{
	font-size: 40px;
	font-weight: 500;
	margin-top: 100px;
}
.col-md-6 img{
	margin-left: 0 !important;
	height: 300px;
}
.bottom-img{
	width: 100%;
}
/*=======================================================*/
#projects{
	padding: 86px 0;
}
.project-img{
	width: 100px;
	margin-top: 20px;
}
.projects{
	padding: 20px;
}
.projects h4{
	padding: 5px;
	margin-top: 20px;
	text-transform: uppercase;
}
.title::before{
	content: '';
	background: #7b1798;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
}
.title::after{
	content: '';
	background: #7b1798;
	height: 10px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}
#projects .btn-primary{
	box-shadow:2px 3px  10px #aaaaaa;
	padding: 8px 25px;
	border:none;
	border-radius: 20px; 
	background-image: linear-gradient(to right,#a517ba,#5f1782);
}

#projects .btn-info{
	box-shadow:2px 3px  10px #aaaaaa;
	padding: 8px 25px;
	border:none;
	border-radius: 20px; 
	background-color: #a517ba;
}
#projects .btn-info:hover{
	background-color: #5f1782;
}
#projects .btn-info:active{
transform: translateY(2px);
}
/*=======================================================*/
#About-Me{
	background: #f8f9fa;
	padding-bottom: 50px;
	padding-top: 50px;
	background-image: url('img/bg.png');
	background-repeat: no-repeat;
	background-position:center;

}
.About-title{
	font-size: 40px;
	font-weight: 500;
	margin-top: 8%;
	font-family: cursive;
}

.About-Me p{
	margin: 10px 10px;
}
.About-Me img{
	padding-left: 50px;
}

#event{
	background:#f8f9fa;
	background-image: url('img/event1.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;

}
@media only screen and (max-width: 600px) {
  #event{
  	background:#f8f9fa;
  }
}
#event p{
	font-size: 20px;
	margin-bottom: 50px;
}
/*=======================================================*/
#Resume .btn-primary{
	box-shadow:2px 3px  10px #aaaaaa;
	padding: 8px 25px;
	border:none;
	border-radius: 20px; 
	background-image: linear-gradient(to right,#a517ba,#5f1782);
}
.resume h4{
	padding: 5px;
	margin-top: 25px;
	text-transform: uppercase;
	font-family: cursive;
}
.resume ul{
	list-style: none;	
}
#Resume{
padding: 86px 0;
background: #f8f9fa;
}
/*=======================================================*/

#blog{
	padding: 86px 0;

}
.blog-img{
	width: 100px;
	margin-top: 20px;
}
.blog{
	padding: 20px;
}
.blog h4{
	padding: 0px;
	margin-top: 20px;
	text-transform: uppercase;
}
#blog .btn-primary{
	box-shadow:2px 3px  10px #aaaaaa;
	padding: 8px 25px;
	border:none;
	border-radius: 20px; 
	background-image: linear-gradient(to right,#a517ba,#5f1782);
}
#blog .btn-info{
	box-shadow:2px 3px  10px #aaaaaa;
	padding: 8px 25px;
	border:none;
	border-radius: 20px; 
	background-color: #a517ba;
}
#blog .btn-info:hover{
	background-color: #5f1782;
}
#blog .btn-info:active{
transform: translateY(2px);
}
/*==========================================*/

.btn-primary:active{
transform: translateY(2px);
}
/*====================================================*/
#contact{
	background: #e8e8f3;
	padding: 100px 0;
}
#contact p{
	font-size: 35px;
	font-weight:500;
	margin-bottom: 30px;
	font-family: cursive;
}
.social-icon img{
	width: 60px;
	transition: 0.5s;
}
.social-icon a:hover img{
	transform: translateY(-20px);
}
/*=======================================================*/
#footer{
	background-image: linear-gradient(to right,#a517ba,#5f1782);
	color: #fff;

}
.footer-img{
	width: 100%;
	padding-top: 0;
	margin-top: 0;
}
.footer-box{
	padding: 20px;
}
.footer-box img{
	width: 120px;
	margin-bottom: 20px;

}
.footer-box .fa{
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 2px;
	background-image: linear-gradient(to right,#a517ba,#5f1782);
}
hr{
	background-color: #fff;
}
.copyright{
	margin-bottom: 0;
	padding-bottom: 20px;
	text-align: center;
}